body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.benedict {
  display: flex;
  box-shadow:  4px 6px 32px black;
  border-radius: 30px;
  width: 450px;
  flex-grow: .5;
}

.bagel-daze-logo {
  padding-top: 35px;
  margin-left: -30px;
  position: relative;
}

h1 {
  margin: 4px;
  position: relative;
  text-shadow: 5px 1px #1F2937;
}


ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  justify-content: center;
  padding:0 32px 0 32px;
  margin-right: -32px;
}

a {
  text-shadow: 3px 1px #000000;
}

a,
.hero-secondary{
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

a:hover {
  color: #d7b592;
  transform: scale(1.15);
  text-shadow: none;
  font-weight: bold;
}

button:hover {
  font-weight: 600;
  box-shadow:4px 6px 32px #1F2937;
  transform: scale(1.15); 
  border: solid 1.5px #000000; 
}

.header {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow:  30px 5px 30px black;
  border-radius: 0 0 30px 30px;
  position: relative;
  flex-grow: 1;
}

.header:before{
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  opacity: 0.70;
  background-image: url('https://images.unsplash.com/photo-1518562923427-19e694fbd8e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFnZWxzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 30px 30px 30px;
  box-shadow:  6px 8px 8px black;
}

.header-logo-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-and-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 75px 0 75px 0;
  align-items: center;
  flex-basis: 50%;
  color: #F9FAF8;
}

.hero-text  {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  flex-basis: 50%;
}

.hero-secondary {
  text-overflow: ellipsis;
  font-style: italic;
  font-weight: 500;
  text-shadow: 3px 1px #1F2937;
  padding-right: 64px;
  flex-basis: 75%;
  margin-top: 0;
  margin: 4px;
  position: relative;
}

button {
  background-color: #3882f6;
  width: 100px;
  height: Auto;
  margin: 4px;
  position: relative;
  border-color: black;
  border-radius: 16px;
  border-width: 1px;
  box-shadow:  4px 6px 32px #1F2937;
}