body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;
  min-width: fit-content;
}

.header-image {
  display: flex;
  box-shadow:  4px 6px 32px black;
  border-radius: 30px;
  width: 450px;
  flex-grow: 1;
  width: 33%;
  min-width: 600px;
  max-width: 1000px;
}

.bagel-daze-logo {
  padding-top: 35px;
  margin-left: -30px;
  position: relative;
}

h1 {
  position: relative;
  text-shadow: 5px 1px #1F2937;
  margin-bottom: 0;
}


ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  justify-content: center;
  padding:0 32px 0 32px;
  margin-right: -32px;
}

a {
  text-shadow: 3px 1px #000000;
  transform: scale(1); 
  transition-duration: .5s;
}

a,
.hero-secondary{
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

a:hover {
  color: #d7b592;
  transform: scale(1.15);
  transition-duration: .3s;
  font-weight: bold;
}

.top-links:hover {
  color: #d7b592;
  transform: scale(1.15);
  transition-duration: .3s;
  font-weight: bold;
  margin-bottom: -1px;
}

.order-button {
  background-color: #3882f6;
  color: #F9FAF8;
  font-weight: 600;
  width: 100px;
  height: Auto;
  margin: 4px;
  position: relative;
  border-color: black;
  border-radius: 8px;
  border-width: 1px;
  box-shadow: 0px 0px 5px 2px #f9faf8;
  transform: scale(1); 
  transition-duration: .3s;
  padding: 8px 75px;
  margin: 0 8px 8px 4px;
  display: flex;
  justify-content: center;
  margin-top: -1px;
}

button:hover {
  box-shadow:6px 6px 40px 6px  #F9FAF8;
  transform: scale(1.15); 
  transition-duration: .3s;
  border: solid 1.5px  #F9FAF8; }

.order-button:hover: {
  box-shadow:4px 6px 32px  #F9FAF8;
  transform: scale(1.15); 
  transition-duration: .3s;
  border: solid 1.5px  #F9FAF8;
}

font {  
  color: transparent;
}

.header {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 0 10vw 6vw 10vw;
  background-repeat: no-repeat;
  box-shadow:  20px 2px 30px black;
  border-radius: 0 0 30px 30px;
  position: relative;
  flex-grow: 1;
  min-width: fit-content;
}

.header:before{
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  min-width: 700px;
  height: 100%;
  opacity: 0.70;
  background-image: url('https://images.unsplash.com/photo-1518562923427-19e694fbd8e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFnZWxzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 30px 30px 30px;
  box-shadow:  6px 8px 8px black;
}

.header-logo-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -35px;
}

.top-links {
  width: 112px;
  margin-top: -30px;
}

.hero-and-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
  color: #F9FAF8;
}

.hero-text:after  {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  flex-basis: 60%;
}

.hero-secondary {
  text-overflow: ellipsis;
  font-style: italic;
  font-weight: 500;
  text-shadow: 3px 1px #1F2937;
  padding-right: 64px;
  flex-basis: 75%;
  max-width: 1300px;
  margin-top: 0;
  margin: 4px;
  padding-bottom: 8px;
  position: relative;
  min-width: 575px;
}

.bagel-sammy {
  max-width: 300px;
  height: 250px;
  border-radius: 30px;
  border: solid 3px #3882f6;
  box-shadow:  2px 2px 16px black; 
  margin: 0 32px 4px 32px;
}

.bagel-sammy:hover {
	transform: scale(1.05);
	transition: .3s ease-in-out;
}

.top-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
  margin: 50px 0 100px 0;
}

h2 {
  padding: 25px 0 50px 0;
  font-weight: 800;
  color: #1F2937;
}

.top-menu-images {
  display: flex;
  transform: scale(.8);
}

.description  {
  width: 250px;
  text-align: center;
  margin: 10px 0 0 0;
  padding-left: 55px;
  font-size: 18px;
  transform: scale(1.15);
}

.testimony {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;  
  font-size: 36px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.customer-testimony{
  font-style: italic;
  color: #1f2937;
  padding: 175px 300px 0 300px;
  margin: 0;
  width: 56%;
}

.attribute {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding-left: 25%;
  padding-bottom: 4%;
}

.attributed-to {
  margin-top: 0;
  margin-right: 100px;
}

.subscribe-container {
  display: flex;
  justify-content: space-between ;
  background-color: #3882f6;
  margin: 5% 10%;
  padding: 2%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 20% ;
  padding-right: 20%;
  color: #F9FAF8;
}

.subscribe-daze {
  display: flex;
}

.subscribe {
  background-color: #3882f6;
  color: #F9FAF8;
  font-weight: 600;
  width: 100px;
  height: 35px;
  margin: 4px;
  border-color: #f9faf8;
  border-radius: 8px;
  border-width: 1px;
  box-shadow: 0px 0px 5px 2px #f9faf8;
  transform: scale(1); 
  transition-duration: .3s;
  padding: 8px 5px;
  margin: 0 8px 8px 4px;
  display: flex;
  justify-content: center;
}